
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="innerBanner" style="background: url(images/replacement_car_banner_bg.jpg) no-repeat center top;">
    <div class="container flexBox itemCenter">
        <div><img src="images/replacement_car_banner.png" alt="" class="bannerIcon"> Roadside Assistance + Replacement Car</div>
    </div>
</div>
<div class="whtBg pt60 pb60">
    <div class="container">
        <div class="flexBox">
            <div class="serviceLft"><img src="images/replacement_car_img.jpg" alt=""></div>
            <div class="serviceRgt">
                <span class="large">Time is money!  Accidents can happen at any time and being immobile is inconvenient and challenging. Our Vehicle Replacement service ensures no down time when your primary vehicle is unavailable / being repaired after an unfortunate accident.  </span><br><br>
                Our Vehicle Replacement service is an interim mobility solution for insurance partners, motor dealerships, corporate fleets and individuals. We are available 7 days a week, year-round and nationwide. <br><br>
                <span class="large">Key benefits of our Vehicle Replacement solution: </span>
                <ul class="bulletList">
                    <li>Brand for brand vehicles / Clean and new vehicles.</li>
                    <li>Accident assistance available 7 days a week and year-round.</li>
                    <li>Breakdown assistance available 7 days a week.  Out of hours service for \ emergency breakdown partners available 24/7.</li>
                    <li>Direct Billing & Delivery.  A comprehensive solution for insurers requiring vehicle replacement for policyholders and non-fault third-parties.</li>
                    <li class="price">&#8377; 2500</li>
                </ul>
                <div style="text-align:right">
                    <a href="#" class="buyNow">Buy Now</a>
                </div>
            </div>
        
           
        </div>
    </div>
</div>

