<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Nation Assist</title>
    <!--[if IE]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <script src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/Common.js"></script>
    <link rel="stylesheet" href="/content/css/NationAssists/stylesheet.css" type="text/css">
    <link rel="stylesheet" href="/content/css/NationAssists/responsive.css" type="text/css">
    <link rel="stylesheet" href="/content/css/NationAssists/jquery.datetimepicker.css" type="text/css">

    <style>
        .modal {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1050;
            display: none;
            overflow: hidden;
            outline: 0;
        }
        .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
    </style>
    <script type="text/javascript">



    </script>
</head>

<body>
    <div id="progress" class="modal" style="display: none;">
        <div class="center" style="width: 100%;">

            <img src="~/images/animation loader.gif">


        </div>
    </div>

    <div class="dbCon">
        <div class="dbHeader transition">
            <div class="dbHeaderInner flexBox">
                <div class="moreLink">
                    <a href="javascript:void(0)" class="showMoreLink showDBAccount">
                        <img src="/content/css/images/NationAssists/user_img.jpg"
                             alt=""> @((Session["UserId"] !=null && Session["UserName"] != null) ? Convert.ToString( Session["UserName"]):"")
                    </a>
                    <div class="moreLinkPopup">
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#" id="btnLogout" onclick="Logout('Admin')">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="dbLeft transition">
            <span class="dbMenu transition">
                <i class="transition"></i><i class="transition"></i><i class="transition"></i>
            </span>
            <div class="dbLogo transition">
                <a href="../../Admin/Dashboard">
                    <img src="/content/css/images/NationAssists/logo.png" alt=""
                         class="logoImg">
                </a>
            </div>
            @Html.Partial("_AdminHeader")
            @Html.Partial("_AdminFooter")
        </div>
        <div>
            @RenderBody();
        </div>
    </div>

    <script src="/content/js/NationAssists/jquery.min.js"></script>
    <script src="/content/js/NationAssists/function.js"></script>
    <script src="/content/js/NationAssists/jquery.datetimepicker.full.js"></script>
    <script src="~/js/Login.js"></script>
    <script>
        $('.datePicker').datetimepicker({ format: 'd/M/Y', timepicker: false });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        var colors = [
            '#ce1127',
        ]
    </script>
    <script>

        var options = {
            series: [{
                data: [21, 22, 10, 28, 16, 21, 13, 50, 16, 21, 13, 30]
            }],
            chart: {
                height: 350,
                type: 'bar',
                events: {
                    click: function (chart, w, e) {
                    }
                }
            },
            colors: colors,
            plotOptions: {
                bar: {
                    columnWidth: '45%',
                    distributed: true,
                }
            },
            dataLabels: {
                enabled: false
            },
            legend: {
                show: false
            },
            xaxis: {
                categories: [
                    ['Jan'],
                    ['Feb'],
                    ['Mar'],
                    ['Apr'],
                    ['May'],
                    ['Jun'],
                    ['Jul'],
                    ['Aug'],
                    ['Sep'],
                    ['Oct'],
                    ['Nov'],
                    ['Dec'],
                ],
                labels: {
                    style: {
                        colors: '#000',
                        fontSize: '12px'
                    }
                }
            }
        };
        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>
    <script>
        var options = {
            series: [70, 30],
            chart: {
                type: 'donut',
            },
            legend: {
                position: 'bottom'
            },
            labels: ["Complete", "Pending",],
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };
        var chart = new ApexCharts(document.querySelector("#chart2"), options);
        chart.render();
    </script>

</body>


</html>