<footer>
    <div class="container">
        <div class="flexBox footerTop">
            <div class="footerColumn column1">
                <div class="footerLogo"><img src="~/images/footer_logo.png" alt=""></div>
                <div class="footerText">We, Nation Assist are an aspiring Service Provider backed up with a dedicated customer centric team and with blend of experience and expertise of 100 plus years to provide a hassle-free road assistance, replacement car and home assistance services for the Nation.</div>
            </div>
            <div class="footerColumn column2">
                <div class="footerHd">Services</div>
                <ul class="footerLink">
                    <li><a href="/roadsideassistance">Roadside Assistance</a></li>
                    <li><a href="/roadsideassistancereplacementcar">Roadside Assistance + Replacement Car</a></li>
                    <li><a href="/homeassistance">Home Assistance</a></li>
                    <li><a href="/InsuranceDocument">Insurance Document Processing</a></li>
                </ul>
            </div>
            <div class="footerColumn column3">
                <div class="footerHd">Quick Links</div>
                <ul class="footerLink">
                    <li><a href="/PrivacyPolicy">Privacy Policy</a></li>
                    <li><a href="/tipssafety">Tips & Safety </a></li>
                    <li><a href="/Career">Careers </a></li>
                    <li><a href="/mediaupdates">Media Updates</a></li>
                    <li><a href="/feedbackgrievances">Feedback & Grievances</a></li>
                </ul>
            </div>
            <div class="footerColumn column4">
                <div class="footerHd">Contact</div>
                <div class="address">
                    <img src="~/images/home_icon.png" alt="">
                    NATION ASSIST WLL.
                    <li>Bayswater Tower, </li>
                    <li>Office No. 61, Building No. 742, </li>
                    <li> Road No. 3616, Block No. 436, </li>
                    <li>Al Seef, Kingdom of Bahrain </li>
                    Tel : +973 17 558 555
                    <div class="email">
                        <a href="mailto:info@nassistbh.com">
                            <img src="~/images/email_icon.png"
                                 alt=""> info@nassistbh.com
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerBot">
        <div class="container flexBox spacebetween itemCenter">
            <div class="copy">Copyright &copy; 2020 Nation Assist. All rights reserved.</div>
            <ul class="flexBox footerSocial">
                <li><a href="https://www.facebook.com/Nation-Assist-WLL-103926118662268"><img src="~/images/facebook_wht.png" alt="Facebook"></a></li>
                <li><a href="#"><img src="~/images/twitter_wht.png" alt="Twitter"></a></li>
                <li><a href="https://www.linkedin.com/company/nationassistwll"><img src="~/images/linkedin_wht.png" alt="Linkedin"></a></li>
            </ul>
        </div>
    </div>
</footer>
<div class="whtasup"><a href="#"><img src="~/images/whatsapp.png" alt=""></a></div>
<div class="phone"><a href="#"><img src="~/images/phone_icon.png" alt=""></a></div>