
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="whtBg pt60 pb60">
    <div class="container">
        <div class="flexBox">
            <div class="serviceRgt" style="width:100%">
                <h3>Privacy Policy</h3>
                NATION ASSIST WLL, with registered offices at Bayswater Tower, Office 61, Building 742, Road 3616, Block 436, Al Seef, Kingdom of Bahrain, is the owner of this website and is responsible for any personal data users may provide over this website.

                NATION ASSIST WLL has also built the NATION ASSIST WLL app as a Free app. This SERVICE is provided by NATION ASSIST WLL at no cost and is intended for use as is. <br /><br />

                <h3>Introduction</h3>
                You may access most areas of the Website without registering your details with us. Certain areas of the Website are only open to you if you register.<br />
                By accessing any part of the Website, you shall be deemed to have accepted these conditions of use in full. If you do not accept these conditions of use in full, you must leave the Website immediately.
                <br /><br />
                Certain provisions of these conditions of use may be superseded by expressly designated conditions or terms located on particular pages at the Website.
                This page is used to inform visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our Service.
                <br /><br />
                If you choose to use our Service, then you agree to the collection and use of information in relation to this policy. The Personal Information that we collect is used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.
                <br /><br />

                Users hereby declare that they are above the age of 14. Similarly, if the data thus provided during the navigation of the webpage are from a minor, as the minor’s parent or guardian, the applicant expressly authorizes the handling of the data that have been provided for managing the purposes specified in the information on data protection.
                <br /><br />
                Users attest to the precision and veracity of the personal data thus provided, agreeing to keep them duly updated and to notify NATION ASSIST WLL of any changes that may occur to them.
                <br /><br />

                Use of this website is subject to the Privacy and Personal Data Processing Policy, the Conditions of Use, and the Cookies Policy detailed below. Please read them carefully. Accessing this website and using the materials contained herein means that you have previously read and accepted these terms without reservations.
                <br /><br />

                The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at NATION ASSIST WLL Applications unless otherwise defined in this Privacy Policy.<br />
                <br />


                <h3>Internet access</h3>
                The Company does not assume any liability for timely, trouble-free and uninterrupted access to the internet <br />
                <br />
                <h3>Information Collection and Use</h3>
                For a better experience, while using our Service, we may require you to provide us with certain personally identifiable information, including but not limited to Location, Mobile Number, Photos, Gallery
                <br /><br />
                The Website/App does use third party services that may collect information used to identify you.<br />
                <br />
                <h3>Log Data</h3>
                We want to inform you that whenever you use our Service, we collect data and information which may include information such as your device Internet Protocol (“IP”) address, device name, operating system version, the date and time of access to our website, the configuration of the app when utilizing our Service, the time and date of your use of the Service, and other statistics that you provide to us whilst accessing our website / App. <br />
                <br />

                <h3>Product availability</h3>
                While the Company shall endeavour to provide useful details about various products and services on the Website from time to time, please note the following which shall apply at all times:
                <ul class="bulletList">
                    <li>Any product or service description on the Website is not intended to constitute offers to sell or solicitations in connection with such products or services; and</li>
                    <li>The Company does not represent or warrant that all of its products or services shall be available at all of its offices, at all times.</li>
                </ul>
                <br />
                <h3>Registration</h3>
                Each registration is for a single user only. The Company does not permit you to share your user name and password with any other person nor with multiple users on a network.
                <br /><br />
                Responsibility for the security of any passwords issued rests with you <br /> <br />

                <h3>Service access  </h3>

                While the Company endeavours to ensure that the Website is normally available 24 hours a day, the Company shall not be liable if for any reason the Website is unavailable at any time or for any period.
                <br /><br />
                Access to the Website may be suspended temporarily and without notice in the case of system failure, maintenance or repair or for reasons beyond the Company’s control. <br /> <br />

                <h3>Cookies</h3>

                Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device's internal memory.
                <br /> <br />
                This Service does not use these “cookies” explicitly. However, the Website/App may use third party code and libraries that use “cookies” to collect information and improve their services. You have the option to either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able to use some portions of this Service.
                <br />
                <br />
                <h3>Service Providers</h3>
                We may employ third-party companies and individuals due to the following reasons including but not limited to:
                <ul class="bulletList">
                    <li>To facilitate our Service;</li>
                    <li>To provide the Service on our behalf;</li>
                    <li>To perform Service-related services; or</li>
                    <li>To assist us in analyzing how our Service is used</li>
                </ul>

                We want to inform users of this Service that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose. <br />
                <br />
                <h3>Security</h3>
                We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security. <br />
                <br />

                <h3>Duration</h3>

                The personal data thus provided will be held for a certain amount of time based on the following criteria: (i) the legal obligation to hold them; and (ii) requests for deletion from the interested party in applicable situations. <br />
                <br />

                <h3>Links to Other Sites/ Applications</h3>
                This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Therefore, we strongly advise you to review the Privacy Policy of these websites/Applications. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services. <br />
                <br />


                <h3>Conditions for using the Website/ Applications.</h3>

                Users must agree to make good use of the website/ applications, with “good use” defined as use in accordance with the legislation in force, good faith, and public order.
                <br /><br />

                Users will also agree not to use the website/ applications for fraudulent purposes and not to perform any action with intent to damage, disable or overload the website/application, or that may impede its normal use and functioning in any way.
                <br /><br />

                Users are hereby informed that in the event of a violation of the Conditions of Use, or of the Privacy Policy or any other terms and conditions specified on the NATION ASSIST WLL website/ applications, NATION ASSIST WLL reserves the right to limit, suspend or block access to the website/applications using any technical means it may deem necessary to achieve this.<br /><br />

                <h3>Copyright</h3>

                All rights reserved. The design of the website/ applications and its source codes, and the logos, trademarks and other distinctive signs appearing herein are property of NATION ASSIST WLL  and are protected by the corresponding industrial and intellectual property rights.
                <br /><br />

                Except where authorised in writing by the copyright holders, any reproduction, distribution, transformation, manipulation, public communication or any other full or partial type of free or pay use of the texts or images appearing on this website/ applications or of any of the content herein, is strictly prohibited. <br />

                <br />
                <h3>   Changes to This Privacy Policy</h3>


                We may update our Privacy Policy from time to time without previous notice. Thus, you are advised to review this page periodically for any changes. These changes are effective immediately after they are posted on this page.
                <br /><br />

                Users should ensure that they use the updated version at all times. This power does not grant users any right to receive compensation for damages and losses. <br />
                <br />
                <h3> Contact Us</h3>

                The function of the links on this webpage is exclusively to inform the user of the existence of other information sources on the matter on the Internet, where they may obtain additional data. Nation Assist WLL will in no case be responsible for the result obtained through those hyperlinks.
                <br /><br />
                If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at<b> info@nassistbh.com </b>.


            </div>
        </div>
    </div>
</div>
           

          

          