
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="innerBanner" style="background: url(images/roadside_assistance_banner_bg.jpg) no-repeat center top;">
    <div class="container flexBox itemCenter">
        <div><img src="~/images/roadside_assistance_banner.png" alt="" class="bannerIcon"> Roadside Assistance</div>
    </div>
</div>
<div class="whtBg pt60 pb60">
    <div class="container">
        <div class="flexBox">
            <div class="serviceLft"><img src="~/images/roadside_assistance_img.jpg" alt=""></div>
            <div class="serviceRgt">
                <span class="large">Vehicles break down, accidents happen, tires rupture, lights fail, batteries die, fuel runs out, wheels get stuck, and keys get locked inside. All manner of road accidents and incidents occur every day, and it's never at a good time! </span><br><br>
                Nation Assist is a call or tap away!  We provide the best roadside assistance which is fast and effective. We are constantly on call and whenever possible, we prioritize to resolve the problem on the spot, so you can continue safely on the road in your own car – and even save a trip to the auto repair shop.<br><br>
                When this is not possible, we will immediately tow your car for repair and make sure that you and your passengers can continue safely to your destination. Either by lending you a free car or by giving you a lift to a convenient alternative route of transport. We are there when you need us.<br><br>
                Our Roadside Assistance is available for private, public and corporate clients across Bahrain.
            </div>
        </div>
    </div>
</div>

