@model NationAssists.Areas.Admin.Models.mServiceProviderServiceArea

@{
    ViewBag.Title = "ManageServiceProviderServiceArea";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="dashboardCon transition">
    <div class="mainHd">Manage Service Provider Service Area</div>
    <ul class="dbForm flexBox">
        <li class="oneThird">
            <span class="fieldHd" id="lblService">Service Provider </span>
            @Html.DropDownListFor(m => m.ServiceProviderId, Model.GetAllServiceProvider(), "--select-", new { @class = "formInput", @onchange = "GetAllServices()" })
        </li>
        <li class="oneThird">
            <span class="fieldHd" id="lblService">Service </span>
            @Html.DropDownListFor(m => m.ServiceId,
           new SelectList(Enumerable.Empty<SelectListItem>(), "ServiceId", "ServiceName"),
                  "Select Service", new { @class = "formInput", @onchange = "BindServiceType()" })
        </li>

        <li class="oneThird">
            <span class="fieldHd" id="lblService">Service Sub Category </span>
            @Html.DropDownListFor(m => m.ServiceSubCategoryId,
           new SelectList(Enumerable.Empty<SelectListItem>(), "ServiceCategoryId", "ServiceName"),
                  "--Select--", new { @class = "formInput", @onchange = "BindServiceSubCategoryPriceList()" })
        </li>

        <li class="oneThird">
            <span class="fieldHd" id="lblUserType">Country </span>
            @Html.DropDownListFor(m => m.CountryId, Model.BindCountry(), "--select-", new { @class = "formInput", @onchange = "BindGovernotes()" })
        </li>
        <li class="oneThird">
            <span class="fieldHd" id="lblGovernotes">Governotes</span>
            <select id="GovernotesId" class="formSelect" onchange="BindPlaces();">
                <option value="">--Select--</option>
            </select>
        </li>
        <li class="oneThird">
            <span class="fieldHd" id="lblPlace">
                Place
            </span>
            <select id="PlaceId" class="formSelect" onchange="BindBlock()">
                <option value="">--Select--</option>
            </select>
        </li>

        <li class="oneThird">
            <span class="fieldHd" id="lblBlockCode">
                Block Code
            </span>
            <select id="BlockCode" class="formSelect">
                <option value="">--Select--</option>
            </select>
        </li>
    </ul>
    </div>
<script src="~/Areas/Admin/JS/ServiceProviderServiceArea.js"></script>
