@model NationAssists.Models.mChangePassword
<ul class="form flexBox">

    <li class="oneThird">
        <span class="fieldHd" id="lblService">Current Password** </span>
        <input type="password" class="formInput" id="txtCurrentPassword" maxlength="50" placeholder="Current Password">

    </li>
    <li class="oneThird RAS">
        <span class="fieldHd" id="lblVehicleRegistrationNo">New Password** </span>
        <input type="password" class="formInput" id="txtNewPassword" maxlength="50" placeholder="New Password">
    </li>
    <li class="oneThird RAS">
        <span class="fieldHd" id="lblVehicleRegistrationNo">Confirm Password** </span>
        <input type="password" class="formInput" id="txtConfirmNewPassword" maxlength="50" placeholder="Confirm Password">
    </li>


</ul>
<input type="hidden" id="hdnUserId" value="@Model.UserId" />
<input type="hidden" id="hdnUserType" value="@Model.UserType" />

<div class="tac">
    <button type="button" class="formBtn regNextStep" id="btnAdd" onclick="return ChangePassword();">Save</button>


</div>


<script src="~/js/ChangePassword.js"></script>