@model NationAssists.Models.mChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="whtBg pt60 pb60"
     style="background: url(../images/login_bg.jpg) no-repeat center top; background-size: cover;">
    <div class="container">
        <div class="regBox" style="max-width:100%;">
            <div class="flexBox spacebetween">
                <div class="mainHd">Change Password</div>

            </div>
            @Html.Partial("~/Views/Home/_ChangePassword.cshtml",Model)
        </div>
    </div>
</div>

