@{
    ViewBag.Title = "Nation-Assists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
        <div class="bannerSlider">
            <div class="bannerCon" style="background: url(images/banner_img.jpg) no-repeat center top;">
                <div class="container flexBox itemCenter">
                    <div class="bannerInfo tac">
                        <div class="bannerHd">
                            Whether you are in or out of home
                            <span>We are always there<br> for you!</span>
                        </div>
                        <div><a href="#" class="bannerBtn">Let's Get Started</a></div>
                    </div>
                </div>
            </div>
            <div class="bannerCon" style="background: url(images/banner_img2.jpg) no-repeat center top;">
                <div class="container flexBox itemCenter">
                    <div class="bannerInfo tac">
                        <div class="bannerHd">
                            Whether you are in or out of home
                            <span>We are always there<br> for you!</span>
                        </div>
                        <div><a href="#" class="bannerBtn">Let's Get Started</a></div>
                    </div>
                </div>
            </div>
            <div class="bannerCon" style="background: url(images/banner_img3.jpg) no-repeat center top;">
                <div class="container flexBox itemCenter">
                    <div class="bannerInfo tac">
                        <div class="bannerHd">
                            Whether you are in or out of home
                            <span>We are always there<br> for you!</span>
                        </div>
                        <div><a href="#" class="bannerBtn">Let's Get Started</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container">
                <ul class="flexBox topBox">
                    <li>
                        <a href="roadside-assistance.html">
                            <div class="img">
                                <img src="images/roadside_assistance.png" alt="" class="front"><img src="images/roadside_assistance_ro.png" alt="" class="over">
                            </div>
                            <div class="hd">Roadside<br> Assistance</div>
                            <div class="text">A bad situation does not give you anadvance notice to get prepared.</div>
                        </a>
                    </li>
                    <li>
                        <a href="roadside-assistance-replacement-car.html">
                            <div class="img">
                                <img src="images/replacement_car.png" alt="" class="front"><img src="images/replacement_car_ro.png" alt="" class="over">
                            </div>
                            <div class="hd">Roadside Assistance +<br> Replacement Car</div>
                            <div class="text">A bad situation does not give you anadvance notice to get prepared.</div>
                        </a>
                    </li>
                    <li>
                        <a href="home-assistance.html">
                            <div class="img">
                                <img src="images/home_assistance.png" alt="" class="front"><img src="images/home_assistance_ro.png" alt="" class="over">
                            </div>
                            <div class="hd">Home<br> Assistance</div>
                            <div class="text">A bad situation does not give you anadvance notice to get prepared.</div>
                        </a>
                    </li>
                    <li>
                        <a href="insurance-document.html">
                            <div class="img">
                                <img src="images/insurance_document.png" alt="" class="front"><img src="images/insurance_document_ro.png" alt="" class="over">
                            </div>
                            <div class="hd">Insurance Document<br> Processing</div>
                            <div class="text">A bad situation does not give you anadvance notice to get prepared.</div>
                        </a>
                    </li>
                </ul>
                <div class="pt60 pb60">
                    <div class="mainHd">Why Choose Us</div>
                    <div class="whyText">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec rhoncus
                        purus. In malesuada velit neque, eget malesuada mauris vestibulum quis. Mauris et facilisis leo,
                        nec convallis urna.
                    </div>
                    <div class="flexBox whyBox spacebetween">
                        <div class="lft">
                            <ul class="stepList">
                                <li class="active" data-="#step1">
                                    <span>Step 1: </span>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec rhoncus purus.
                                </li>
                                <li data-="#step2">
                                    <span>Step 2: </span>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec rhoncus purus.
                                </li>
                                <li data-="#step3">
                                    <span>Step 3: </span>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec rhoncus purus.
                                </li>
                            </ul>
                        </div>
                        <div class="rgt">
                            <div class="videoBox" id="step1">
                                <img src="images/video_img.jpg" alt=""> <span class="play"><img src="images/play_icon.png" alt=""></span>
                            </div>
                            <div class="videoBox" id="step2" style="display: none;">
                                <img src="images/video_img2.jpg"
                                     alt=""> <span class="play"><img src="images/play_icon.png" alt=""></span>
                            </div>
                            <div class="videoBox" id="step3" style="display: none;">
                                <img src="images/video_img3.jpg"
                                     alt=""> <span class="play"><img src="images/play_icon.png" alt=""></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="whtBg pt60 pb60">
            <div class="container">
                <div class="pb60">
                    <div class="mainHd">Our Inspiration</div>
                    <div class="testimonialSlider">
                        <div class="item">
                            <div class="flexBox">
                                <div class="tmLeft"><img src="images/client_img.jpg" alt=""></div>
                                <div class="tmRight">
                                    <div class="text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec rhoncus
                                        purus. In malesuada velit neque, eget malesuada mauris vestibulum quis. Mauris
                                        et facilisis leo, nec convallis urna. Donec quis mi et ipsum elementum ultricies
                                        et eget augue. Suspendisse elementum condimentum dignissim. Morbi posuere nec
                                        nunc a rutrum. Aenean at magna orci. In ligula mauris, efficitur a mollis nec,
                                        malesuada dictum urna.
                                        <span class="name">Sunil Kumar</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="flexBox">
                                <div class="tmLeft"><img src="images/client_img.jpg" alt=""></div>
                                <div class="tmRight">
                                    <div class="text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec rhoncus
                                        purus. In malesuada velit neque, eget malesuada mauris vestibulum quis. Mauris
                                        et facilisis leo, nec convallis urna. Donec quis mi et ipsum elementum ultricies
                                        et eget augue. Suspendisse elementum condimentum dignissim. Morbi posuere nec
                                        nunc a rutrum. Aenean at magna orci. In ligula mauris, efficitur a mollis nec,
                                        malesuada dictum urna.
                                        <span class="name">Sunil Kumar</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="flexBox">
                                <div class="tmLeft"><img src="images/client_img.jpg" alt=""></div>
                                <div class="tmRight">
                                    <div class="text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec rhoncus
                                        purus. In malesuada velit neque, eget malesuada mauris vestibulum quis. Mauris
                                        et facilisis leo, nec convallis urna. Donec quis mi et ipsum elementum ultricies
                                        et eget augue. Suspendisse elementum condimentum dignissim. Morbi posuere nec
                                        nunc a rutrum. Aenean at magna orci. In ligula mauris, efficitur a mollis nec,
                                        malesuada dictum urna.
                                        <span class="name">Sunil Kumar</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="flexBox">
                                <div class="tmLeft"><img src="images/client_img.jpg" alt=""></div>
                                <div class="tmRight">
                                    <div class="text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec rhoncus
                                        purus. In malesuada velit neque, eget malesuada mauris vestibulum quis. Mauris
                                        et facilisis leo, nec convallis urna. Donec quis mi et ipsum elementum ultricies
                                        et eget augue. Suspendisse elementum condimentum dignissim. Morbi posuere nec
                                        nunc a rutrum. Aenean at magna orci. In ligula mauris, efficitur a mollis nec,
                                        malesuada dictum urna.
                                        <span class="name">Sunil Kumar</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="downloadApp flexBox" style="background: url(images/download_bg.jpg) no-repeat center top;">
                    <div class="screenImg"><img src="images/mobile_screen.png" alt=""></div>
                    <div class="det flexBox itemCenter">
                        <div>
                            <div class="hd">Download Our App</div>
                            <div class="text">Make your emergency assistance request for your vehicle.</div>
                            <div class="button">
                                <a href="#"><img src="images/app_store_large.png" alt=""></a>
                                <a href="#"><img src="images/google_play_large.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="whtasup"><a href="#"><img src="images/whatsapp.png" alt=""></a></div>
    <div class="phone"><a href="#"><img src="images/phone_icon.png" alt=""></a></div>
    <div class="popupLinks flexBox">
        <span class="arrow"></span>
        <div class="inner">
            <ul class="links">

                
                @if (Session["CustomerId"] == null)
                {
                <li><a href="/Login?LoginType=InsuranceCompany">Corporate Login</a></li>
                <li><a href="/Login?LoginType=Agent">Agent Login</a></li>
                <li><a href="/Login?LoginType=Employee">Employee Login</a></li>
                <li><a href="/Login?LoginType=Customer">Customer Login</a></li>
                }
                else
                {
                    string AccountType = Convert.ToString(Session["AccountType"]);
                    if (AccountType == "GA")
                    {
            <li><a href="/BuyOnline">Buy Online</a></li>
                    }
                }
                <li><a href="#">Downloads</a></li>
            </ul>
            <div class="flexBox spacebetween">
                <a href="#"><img src="images/app_store.png" alt=""></a>
                <a href="#"><img src="images/google_play.png" alt=""></a>
            </div>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/function.js"></script>
    <script src="js/slick.min.js"></script>
    <script>
        $('.testimonialSlider').slick({
            dots: true,
            speed: 600,
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            autoplay: false,
        });
        $('.bannerSlider').slick({
            dots: false,
            speed: 600,
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            autoplay: true,
        });



    </script>
