
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="innerBanner idpBanner" style="background: url(../images/career-bg.png) no-repeat center top;">
    <div class="container">
        <div class="underConstruction">

            <div class="ucText tac">
                <span>Welcome to Nation Assist Careers</span>
                Want to be Part of our Team?
                <li>Please email your resume to info@nassistbh.com</li>
            </div>
        </div>
    </div>
</div>

