
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="whtBg pt60 pb60">
    <div class="container">
        <div class="mainHd">Download</div>
        <ul class="planList flexBox">
            <li>
                <div class="inner">
                    <div class="hd"  style="min-height: 83px;">Home Assistance Service</div>
                    <div class="det">
                       
                        <a href="~/DownloadDocument/Nation Assist Home Assistance.pdf" target="_blank" class="button">Download</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="inner">
                    <div class="hd"  style="min-height: 83px;">Road Side Assistance Service</div>
                    <div class="det">
                        
                        <a href="~/DownloadDocument/Nation Assist Roadside Assistance.pdf"  target="_blank" class="button">Download</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="inner">
                    <div class="hd"  style="min-height: 83px;">Road Side Assistance with Car Replacement Service</div>
                    <div class="det">
                       
                        <a href="~/DownloadDocument/Nation Assist Roadside and Car Replacement.pdf"  target="_blank" class="button">Download</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

