
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="innerBanner" style="background: url(../images/vision_banner.jpg) no-repeat center top;">
    <div class="container flexBox itemCenter">
        <div>Vision, Mission & Values</div>
    </div>
</div>
<div class="whtBg pt60 pb60">
    <div class="container">
        <div class="flexBox">
            <div class="aboutLft">
                <div class="aboutImg"><img src="../images/vision.png" alt=""></div>
                <ul class="aboutLink">
                    <li><a href="vision.html" class="active">Vision</a></li>
                    <li><a href="mission.html">Mission</a></li>
                    <li><a href="values.html">Values</a></li>
                </ul>
            </div>
            <div class="aboutRgt">
                <div class="aboutHd"><img src="../images/vision_icon.png" alt=""> Vision</div>
                <div class="aboutText">To become a pioneer in Assistance Services and to provide every Customer with an experience that reminds them of our commitment to serve. </div>
                <ul class="aboutList flexBox">
                    <li>
                        <div class="inner">
                            <div class="icon"><img src="../images/social_responsibility.png" alt="" class="hvr-buzz-out"></div>
                            <div class="det">
                                <span>Social Responsibility</span>
                                Our Name resounds our commitment to caring for the people and society for the mentioned assistance needs, whenever there is a need of us.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="icon"><img src="../images/customer_satisfaction.png" alt="" class="hvr-buzz-out"></div>
                            <div class="det">
                                <span>Customer Satisfaction</span>
                                We assure customer satisfaction by providing quality service. We strive to perform our services, that would always exceed the expectations of our customers.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="icon"><img src="../images/innovation.png" alt="" class="hvr-buzz-out"></div>
                            <div class="det">
                                <span>Innovation</span>
                                Bring inspiration and innovation to every service we provide.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

