@model NationAssists.Areas.Admin.Models.mBrokerPrice

@{
    ViewBag.Title = "ManageBrokerPrice";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="dashboardCon transition">
    <div class="mainHd">Manage Source Price</div>
    <ul class="dbForm flexBox">
        <li class="oneThird">
            <span class="fieldHd" id="lblUserType">Source Type </span>
            <select id="BrokerTypeId" class="formInput" onchange="BindBroker()">
                <option value="">--Select--</option>
                <option value="AG">Agent</option>
                <option value="IC">Insurance Company</option>
                <option value="IB">Insurance Brokers</option>
                <option value="AD">Auto Dealers</option>
                <option value="BA">Banks</option>
                <option value="OS">Other sources</option>
            </select>
        </li>
        <li class="oneThird">
            <span class="fieldHd" id="lblService">Source </span>
            @Html.DropDownListFor(m => m.BrokerId,
             new SelectList(Enumerable.Empty<SelectListItem>(), "BrokerId", "BrokerName"),
                    "Select Service", new { @class = "formInput", @onchange = "GetAllServices()" })
        </li>
        <li class="oneThird">
            <span class="fieldHd" id="lblService">Service </span>
            @Html.DropDownListFor(m => m.ServiceId,
           new SelectList(Enumerable.Empty<SelectListItem>(), "ServiceId", "ServiceName"),
                  "Select Service", new { @class = "formInput", @onchange = "BindBrokerPriceList()" })
        </li>
        <li class="oneThird">
            <span class="fieldHd">Pricing Option</span>
            <div class="optBox flexBox">
                <label><input type="radio" name="PricingOption" class="radioInpt" disabled="disabled" value="PB"> Package Based</label>
                <label><input type="radio" name="PricingOption" class="radioInpt" disabled="disabled" checked="checked" value="SB"> Service Based</label>
            </div>
        </li>
        <li class="oneThird pb" style="display:none;">
            <span class="fieldHd" id="lblServicePrice">Price </span>
            <input type="number" class="formInput" id="txtPrice" placeholder="Price">
        </li>
        <li class="oneThird pb" style="display:none;">
            <span class="fieldHd" id="lblStartDate">Start Date </span>
            <input type="datetime-local" class="formInput" id="txtStartDate">
        </li>
        <li class="oneThird pb" style="display:none;">
            <span class="fieldHd" id="lblEndDate">End Date </span>
            <input type="datetime-local" class="formInput" id="txtEndDate">
        </li>
    </ul>

    <div>

        <button type="button" class="btnSave dbformBtn mr10" onclick="return SaveBrokerPrice();">Save</button>
        <button type="button" class="btnReset dbformBtn mr10" onclick="window.location.href = '/admin/Brokers/ManageBrokerPrice/'">Reset</button>

    </div>
    <div class="dbTable" id="tblPriceList">
        
    </div>
</div>

<script type="text/javascript" src="~/Areas/Admin/JS/BrokerPrice.js"></script>