@model NationAssists.Models.mChangePassword
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="dashboardCon transition">
    <div class="mainHd">Change Password</div>
    @Html.Partial("~/Views/Home/_ChangePassword.cshtml",Model);
</div>

