
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="innerBanner" style="background: url(../images/value_banner.jpg) no-repeat center top;">
    <div class="container flexBox itemCenter">
        <div>Vision, Mission & Values</div>
    </div>
</div>
<div class="whtBg pt60 pb60">
    <div class="container">
        <div class="flexBox">
            <div class="aboutLft">
                <div class="aboutImg"><img src="../images/value.png" alt=""></div>
                <ul class="aboutLink">
                    <li><a href="vision.html">Vision</a></li>
                    <li><a href="mission.html">Mission</a></li>
                    <li><a href="values.html" class="active">Values</a></li>
                </ul>
            </div>
            <div class="aboutRgt">
                <div class="aboutHd"><img src="../images/value_icon.png" alt=""> Values</div>
                <div class="aboutText">Reliability  I  Integrity  I  Quality  I  Innovation  I  Teamwork I Service Excellence</div>
                <ul class="aboutList flexBox">
                    <li>
                        <div class="inner">
                            <div class="icon"><img src="../images/dependibility.png" alt="" class="hvr-buzz-out"></div>
                            <div class="det">
                                <span>Reliability</span>
                                Test us to Trust us.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="icon"><img src="../images/integrity.png" alt="" class="hvr-buzz-out"></div>
                            <div class="det">
                                <span>Integrity</span>
                                Staying true to our beliefs and commitments in all engagements.
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="icon"><img src="../images/team_work.png" alt="" class="hvr-buzz-out"></div>
                            <div class="det">
                                <span>Team Work</span>
                                Working together towards a comon objective for enduring success.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

