<div class="leftPart transition">
    <span class="menu transition" (click)="Next()"><i class="transition"></i><i class="transition"></i><i class="transition"></i></span>
    <div class="dbLogo transition" fxLayoutAlign=" center" fxLayoutAlign.gt-xs="center center" ><a class="link" routerLink="/"><img src="../../../assets/images/logo.png" alt="" class="logoImg"></a><img src="../../../assets/images/logo_icon.png" alt="" class="logoIcon"></div>
    <div>
        <ul class="leftMenu transition">
            <li routerLinkActive="active">
                <a class="link" routerLink="/user-master">User Master</a>
                <span class="dwnArrow"></span>
                <ul class="subLink">
                    <li><a routerLinkActive="active">User Type Master</a></li>
                    <li><a routerLinkActive="active" routerLink="/create-user">Create User</a></li>
                    <li><a routerLinkActive="active">Role Master</a></li>
                    <li><a routerLinkActive="active">Role UI Mapping</a></li>
                </ul>
            </li>
            <li routerLinkActive="active">
                <a class="link">Company Mangement</a>
                <span class="dwnArrow"></span>
                <ul class="subLink">
                    <li><a routerLinkActive="active">Sub Links</a></li>
                </ul>
            </li>
            <li routerLinkActive="active">
                <a class="link">Service Management</a>
                <span class="dwnArrow"></span>
                <ul class="subLink">
                  <li><a routerLinkActive="active">Sub Links</a></li>
                  <li><a routerLinkActive="active" routerLink="/admin/Services/SubCategroy">Manage Service Sub-Category</a></li>
                </ul>
            </li>
            <li routerLinkActive="active">
                <a class="link">Employee Management</a>
                <span class="dwnArrow"></span>
                <ul class="subLink">
                    <li><a routerLinkActive="active">Sub Links</a></li>
                </ul>
            </li>
            <li routerLinkActive="active">
                <a class="link">Currency</a>
                <span class="dwnArrow"></span>
                <ul class="subLink">
                    <li><a routerLinkActive="active">Sub Links</a></li>
                </ul>
            </li>
            <li routerLinkActive="active">
                <a class="link">Discount</a>
                <span class="dwnArrow"></span>
                <ul class="subLink">
                    <li><a routerLinkActive="active">Sub Links</a></li>
                </ul>
            </li>
            <li routerLinkActive="active">
                <a class="link">Document Type</a>
                <span class="dwnArrow"></span>
                <ul class="subLink">
                    <li><a routerLinkActive="active">Sub Links</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="leftBot transition">
        Copyright &copy; 2020 Nation Assist. <br>
        All rights reserved.
    </div>
</div>
