@model NationAssists.Areas.Admin.Models.AllocateServiceRequest
@{
    ViewBag.Title = "AssignedServiceRequest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="dashboardCon transition">
    <div class="mainHd">Assigned Service Request</div>

    <div id="dvServiceRequestDetail" style="display:none;">
        <ul class="form flexBox">
            <li class="oneThird">
                <span class="fieldHd">Service</span>
                <input type="text" disabled="disabled" id="txtServiceName" class="formInput" />
            </li>
            <li class="oneThird">
                <span class="fieldHd" id="lblService">Service Type </span>
                <input type="text" disabled="disabled" id="txtServiceType" class="formInput" />
            </li>
            <li class="oneThird RAP">
                <span class="fieldHd">Vehicle Registration Number </span>
                <input type="text" id="txtVehicleRegistrationNumber" class="formInput" disabled="disabled">
            </li>
            <li class="oneThird RAP">
                <span class="fieldHd">Chessis No</span>
                <input type="text" id="txtChessisNo" class="formInput" disabled="disabled">
            </li>
            <li class="oneThird">
                <span class="fieldHd">Service Location</span>
                <textarea id="txtServiceLocation" class="formInput" disabled="disabled"></textarea>
            </li>
            <li class="oneThird">
                <span class="fieldHd">Country</span>
                <input type="text" id="txtCountryName" class="formInput" disabled="disabled">
            </li>
            <li class="oneThird">
                <span class="fieldHd" id="lblGovernotes">Governotes</span>
                <input type="text" id="txtGovernotesName" class="formInput" disabled="disabled">
            </li>
            <li class="oneThird">
                <span class="fieldHd" id="lblPlace">
                    Place
                </span>
                <input type="text" id="txtPlaceName" class="formInput" disabled="disabled">
            </li>

            <li class="oneThird">
                <span class="fieldHd" id="lblBlockCode">
                    Block Code
                </span>
                <input type="text" id="txtBlockCode" class="formInput" disabled="disabled">
            </li>
            <li class="oneThird">
                <span class="fieldHd">Date of Accident</span>
                <input type="text" id="txtDateOfAccident" class="formInput" disabled="disabled" />
            </li>
            <li class="oneThird RAP">
                <span class="fieldHd">Name of Workshop</span>
                <input type="text" id="txtNameOfWorkshop" class="formInput" disabled="disabled" />
            </li>
            <li class="oneThird HAP">
                <span class="fieldHd">Building No</span>
                <input type="text" id="txtBuildingNo" class="formInput" disabled="disabled" />
            </li>
            <li class="RAP">
                <span class="fieldHd">Whether Stepini in good condition is available on the vehicle ?</span>
                <div class="optBox flexBox">

                    <label><input type="radio" name="StepiniCondtion" disabled="disabled" class="radioInpt" value="true"> YES</label>
                    <label><input type="radio" name="StepiniCondtion" disabled="disabled" class="radioInpt" checked="checked" value="false"> NO</label>

                </div>
            </li>
            <li class="RAP">
                <span class="fieldHd">Where the client wishes to take the vehicle for the repair?</span>
                <textarea id="txtCollectRepairVehicleAddress" class="formInput" disabled="disabled"></textarea>
            </li>
            <li class="oneThird">
                <span class="fieldHd">Contact No</span>
                <input type="text" id="txtContactNo" class="formInput" disabled="disabled" />
            </li>
            <li class="oneThird">
                <span class="fieldHd">Customer Name</span>
                <input type="text" id="txtCustomerName" class="formInput" disabled="disabled" />
            </li>
            <li class="oneThird">
                <span class="fieldHd">Customer Email Id</span>
                <input type="text" id="txtCustomerEmailId" class="formInput" disabled="disabled" />
            </li>
            <li class="oneThird">
                <span class="fieldHd">Relevent Details</span>
                <textarea id="txtReleventDetails" class="formInput" disabled="disabled"></textarea>
            </li>
            <li class="oneThird">
                <span class="fieldHd">Remarks</span>
                <textarea id="txtRemarks" class="formInput" disabled="disabled"></textarea>
            </li>

            <li class="oneThird">
                <span class="fieldHd"> Service Completion Remarks</span>
                <textarea id="txtServiceCompletionRemarks" class="formInput"></textarea>
            </li>

        </ul>
      
        <br />

        <div>
            <input id="hdnServiceRequestId" type="hidden" value="0" />
            <input id="hdnServiceId" type="hidden" value="0" />
            <input id="hdnSubCategoryId" type="hidden" value="0" />
            <input id="hdnServiceProviderId" type="hidden" value="0" />
            <input id="hdnServiceAllocationId" type="hidden" value="0" />
            <input id="hdnTicketNo" type="hidden" value="" />
            <input id="hdnSourceType" type="hidden" value="" />
            <input id="hdnSourceName" type="hidden" value="" />
            <button type="button" class="btnSave dbformBtn mr10" onclick="return SaveServiceAllocation()">Save</button>
            <button type="button" class="btnReset dbformBtn mr10" onclick="window.location.href = '/admin/ServiceRequest/AssignedServiceRequest/'">Back</button>

        </div>
    </div>
    <div class="dbTable" id="tblServiceRequest">

        @Html.Partial("~/Areas/Admin/Views/ServiceRequest/_AssignedServiceRequestList.cshtml", Model);
    </div>
</div>

<script src="~/Areas/Admin/JS/AssignedServiceRequest.js"></script>

