
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="innerBanner idpBanner" style="background: url(../images/insurance_document_banner_bg.jpg) no-repeat center top;">
    <div class="container">
        <div class="underConstruction">

            <div class="ucText tac">
                <span>CHECK BACK SOON</span>
            </div>
        </div>
    </div>
</div>

