
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="whtBg pt60 pb60">
    <div class="container">
        <div class="flexBox">
            <div class="serviceRgt" style="width:100%">
                <h3>Frequently Asked Questions</h3>
                <br /><br />

                <h3>1.	How can I become a Nation Assist Member?</h3>
                You can become a Nation Assist Member directly through our website or Mobile App. You also can become Member through our business partners (Insurance Companies, Brokers, Banks etc.)                The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible at NATION ASSIST WLL Applications unless otherwise defined in this Privacy Policy.<br />
                <br />


                <h3>2.	What Products does Nation Assist offer?</h3>
                Road side Assistance / Car Replacement Cover / Home Assistance Cover. For detailed product features / cover, please refer to the  product wording under “Download” section.<br />
                <br />
                <h3>3.	I have purchased roadside assistance for one of my cars.  Can I use the same for my other Cars?</h3>
                No! You have to purchase cover for each vehicle separately.<br />
                <br />
                <h3>4.	I am a registered member of Nation Assist. Can I use the same membership log-in details to purchase cover for another Product and request Services?</h3>
                Yes ! You can use the same log-in details to purchase / request service of our products. However, cover to  be purchased separately for each Vehicle / Apartment / House / Villa. <br />
                <br />

                <h3>5.	Can I avail replacement vehicle after an accident?</h3>
                Yes! You can avail replacement vehicle on all  days except during  weekend and public holidays and subject to  policy terms and conditions.<br />
                <br />

                <h3>6.	I have insured my multiple Villas under a single Home Insurance Policy with an Insurer. Should I purchase multiple or single Home Assistance Cover?</h3>
                You have to purchase Home Assistance cover for each Villa. <br />
                <br />

                <h3>7.	Can I purchase Home Assistance cover without purchasing an Insurance Cover for my Home? </h3>

                Yes!  You can purchase Home Assistance cover without having an Insurance Policy. <br />
                <br />

                <h3>8.	How can I avail service in case of an emergency?</h3>

                Please contact our call center and they will be happy to assist you. You can also request for service through our Website / Mobile App.
                <br />
                <br />
                <h3>9.	I used the services of another Company. Can I get it reimbursed from  Nation Assist?</h3>
                Reimbursement facility is not available.
                <br />
                <br />
                <h3>10.	Do I get a refund if I cancel my Nation Assist Services?  </h3>
                Refund option is not available unless it is cancelled prior to inception date of  the Service.<br />
                <br />




            </div>
        </div>
    </div>
</div>
